# HTML - Read data from html

In [1]:
import numpy as np
import pandas as pd

In [2]:
table = pd.read_html('https://en.wikipedia.org/wiki/2011_census_of_India')

In [3]:
#how many tables are there
len(table)

13

In [6]:
#access table
table[1]

        0                      1       2
0  ← 2001  9 to 28 February 2011  2021 →

In [7]:
table[0]

,15th censusof India,15th censusof India.1,Unnamed: 2
0,← 2001 9 to 28 February 2011 2021 →,← 2001 9 to 28 February 2011 2021 →,NaN
1,← 2001,9 to 28 February 2011,2021 →
2,President of India Pratibha Patil receiving th...,President of India Pratibha Patil receiving th...,NaN
3,General information,General information,NaN
4,Country,India,NaN
5,Authority,RGCCI,NaN
6,Website,censusindia.gov.in,NaN
7,Results,Results,NaN
8,Total population,"1,210,854,977 ( 17.70%[1])",NaN
9,Most populous ​state,"Uttar Pradesh (199,812,341)",NaN
10,Least populous ​state,"Sikkim (610,577)",NaN
11,Scheduled Castes,201378372,NaN
12,Scheduled Tribes,104545716,NaN

In [8]:
#choose specific table using match parameter
table1 = pd.read_html('https://en.wikipedia.org/wiki/2011_census_of_India',match='Population distribution in India by states')

In [9]:
len(table1)

1

In [10]:
df = pd.DataFrame(table1[1])

IndexError: list index out of range

In [11]:
df = pd.DataFrame(table1[0])

In [12]:
df

,Rank,State / Union Territory (UT),Capital,Type,Population,% of totalpopula-tion[41],Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2),DecadalGrowth%(2001–11)
0,1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
1,2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
2,3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
3,4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%
4,5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
5,6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
6,7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
7,8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
8,9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
9,10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
10,11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
11,12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
12,13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
13,14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
14,15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
15,16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
16,17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
17,18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
18,19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
19,20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
20,21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
21,22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
22,23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
23,24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
24,25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
25,26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
26,27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
27,28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
28,29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
29,30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
30,31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
31,32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%
32,33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
33,34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
34,35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%
35,India,India,NaN,35,1210854977,100.00,623724248,586469174,943,74.04,833087662,377105760,3287240,382,17.64%

In [13]:
df = df[0:-1]

In [14]:
df

,Rank,State / Union Territory (UT),Capital,Type,Population,% of totalpopula-tion[41],Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2),DecadalGrowth%(2001–11)
0,1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
1,2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
2,3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
3,4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%
4,5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
5,6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
6,7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
7,8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
8,9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
9,10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
10,11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
11,12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
12,13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
13,14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
14,15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
15,16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
16,17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
17,18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
18,19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
19,20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
20,21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
21,22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
22,23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
23,24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
24,25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
25,26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
26,27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
27,28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
28,29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
29,30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
30,31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
31,32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%
32,33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
33,34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
34,35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%

In [15]:
# set index as rank
df.set_index('Rank',inplace=True)

In [16]:
df

,State / Union Territory (UT),Capital,Type,Population,% of totalpopula-tion[41],Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2),DecadalGrowth%(2001–11)
Rank,,,,,,,,,,,,,,
1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%
5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%
33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 35 entries, 1 to 35
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   State / Union Territory (UT)  35 non-null     object
 1   Capital                       35 non-null     object
 2   Type                          35 non-null     object
 3   Population                    35 non-null     int64
 4   % of totalpopula-tion[41]     35 non-null     float64
 5   Males                         35 non-null     int64
 6   Females                       35 non-null     int64
 7   SexRatio [42]                 35 non-null     int64
 8   Literacyrate (%)              35 non-null     float64
 9   Rural[43] Population          35 non-null     int64
 10  Urban[43] Population          35 non-null     int64
 11  Area[44] (km2)                35 non-null     int64
 12  Density (1/km2)               35 non-null     int64
 13  DecadalGrowth%(2001–11)       35 non-null     object
dtypes: float64(2), int64(8), object(4)
memory usage: 4.1+ KB

In [18]:
df.describe()

,Population,% of totalpopula-tion[41],Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2)
count,3.500000e+01,35.000000,3.500000e+01,3.500000e+01,35.000000,35.000000,3.500000e+01,3.500000e+01,35.000000,35.000000
mean,3.459203e+07,2.856857,1.780062e+07,1.678422e+07,931.228571,77.940286,2.381866e+07,1.067266e+07,93921.171429,1091.885714
std,4.445516e+07,3.671943,2.305551e+07,2.141356e+07,79.883402,8.598837,3.296505e+07,1.360069e+07,103754.363757,2385.458172
min,6.447300e+04,0.010000,3.312300e+04,3.135000e+04,618.000000,61.800000,1.412100e+04,5.030800e+04,32.000000,17.000000
25%,1.421136e+06,0.115000,7.265260e+05,6.946100e+05,903.500000,71.235000,7.480705e+05,6.418700e+05,9367.500000,160.500000
50%,1.678794e+07,1.390000,8.887326e+06,7.800615e+06,946.000000,78.030000,9.134820e+06,4.388756e+06,53483.000000,350.000000
75%,6.076749e+07,5.020000,3.122896e+07,2.953854e+07,974.500000,85.950000,3.607023e+07,1.650647e+07,145449.000000,763.000000
max,1.998123e+08,16.500000,1.044805e+08,9.533183e+07,1084.000000,94.000000,1.551110e+08,5.082753e+07,342239.000000,11297.000000

In [19]:
df.columns

Index(['State / Union Territory (UT)', 'Capital', 'Type', 'Population',
       '% of totalpopula-tion[41]', 'Males', 'Females', 'SexRatio [42]',
       'Literacyrate (%)', 'Rural[43] Population', 'Urban[43] Population',
       'Area[44] (km2)', 'Density (1/km2)', 'DecadalGrowth%(2001–11)'],
      dtype='object')

In [20]:
# rename column name
df.rename(columns={'% of totalpopula-tion[41]':'% of Population'}, inplace=True)

C:\Users\PARI\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [21]:
df

,State / Union Territory (UT),Capital,Type,Population,% of Population,Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2),DecadalGrowth%(2001–11)
Rank,,,,,,,,,,,,,,
1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%
5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%
33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%

In [22]:
df.describe()

,Population,% of Population,Males,Females,SexRatio [42],Literacyrate (%),Rural[43] Population,Urban[43] Population,Area[44] (km2),Density (1/km2)
count,3.500000e+01,35.000000,3.500000e+01,3.500000e+01,35.000000,35.000000,3.500000e+01,3.500000e+01,35.000000,35.000000
mean,3.459203e+07,2.856857,1.780062e+07,1.678422e+07,931.228571,77.940286,2.381866e+07,1.067266e+07,93921.171429,1091.885714
std,4.445516e+07,3.671943,2.305551e+07,2.141356e+07,79.883402,8.598837,3.296505e+07,1.360069e+07,103754.363757,2385.458172
min,6.447300e+04,0.010000,3.312300e+04,3.135000e+04,618.000000,61.800000,1.412100e+04,5.030800e+04,32.000000,17.000000
25%,1.421136e+06,0.115000,7.265260e+05,6.946100e+05,903.500000,71.235000,7.480705e+05,6.418700e+05,9367.500000,160.500000
50%,1.678794e+07,1.390000,8.887326e+06,7.800615e+06,946.000000,78.030000,9.134820e+06,4.388756e+06,53483.000000,350.000000
75%,6.076749e+07,5.020000,3.122896e+07,2.953854e+07,974.500000,85.950000,3.607023e+07,1.650647e+07,145449.000000,763.000000
max,1.998123e+08,16.500000,1.044805e+08,9.533183e+07,1084.000000,94.000000,1.551110e+08,5.082753e+07,342239.000000,11297.000000

In [23]:
df.columns

Index(['State / Union Territory (UT)', 'Capital', 'Type', 'Population',
       '% of Population', 'Males', 'Females', 'SexRatio [42]',
       'Literacyrate (%)', 'Rural[43] Population', 'Urban[43] Population',
       'Area[44] (km2)', 'Density (1/km2)', 'DecadalGrowth%(2001–11)'],
      dtype='object')

In [24]:
df.rename(columns={'State / Union Territory (UT)':'State/UT',
                  'SexRatio [42]':'SexRatio',
                  'Rural[43] Population':'Population-Rural',
                  'Urban[43] Population':'Population-Urban',
                  'Area[44] (km2)':'Area_sqkm',
                   'DecadalGrowth%(2001–11)': 'Growth_2001_to_2011'},inplace=True)

C:\Users\PARI\anaconda3\lib\site-packages\pandas\core\frame.py:4441: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [25]:
df.columns

Index(['State/UT', 'Capital', 'Type', 'Population', '% of Population', 'Males',
       'Females', 'SexRatio', 'Literacyrate (%)', 'Population-Rural',
       'Population-Urban', 'Area_sqkm', 'Density (1/km2)',
       'Growth_2001_to_2011'],
      dtype='object')

In [26]:
df.sort_values('State/UT')

,State/UT,Capital,Type,Population,% of Population,Males,Females,SexRatio,Literacyrate (%),Population-Rural,Population-Urban,Area_sqkm,Density (1/km2),Growth_2001_to_2011
Rank,,,,,,,,,,,,,,
32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%
5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%
6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%

In [27]:
df.sort_values('State/UT',ascending=False)

,State/UT,Capital,Type,Population,% of Population,Males,Females,SexRatio,Literacyrate (%),Population-Rural,Population-Urban,Area_sqkm,Density (1/km2),Growth_2001_to_2011
Rank,,,,,,,,,,,,,,
4,West Bengal,Kolkata,State,91276115,7.54,46809027,44467088,950,76.26,62213676,29134060,88752,1030,13.9%
20,Uttarakhand,Dehradun,State,10086292,0.83,5137773,4948519,963,79.63,7025583,3091169,53483,189,19.2%
1,Uttar Pradesh,Lucknow,State,199812341,16.50,104480510,95331831,912,67.68,155111022,44470455,240928,828,20.1%
22,Tripura,Agartala,State,3673917,0.30,1874376,1799541,960,87.22,2710051,960981,10486,350,14.7%
7,Tamil Nadu,Chennai,State,72147030,5.96,36137975,36009055,996,80.09,37189229,34949729,130058,555,15.6%
31,Sikkim,Gangtok,State,610577,0.05,323070,287507,890,81.42,455962,151726,7096,86,12.4%
8,Rajasthan,Jaipur,State,68548437,5.66,35550997,32997440,928,66.11,51540236,17080776,342239,201,21.4%
15,Punjab,Chandigarh,State,27743338,2.29,14639465,13103873,895,75.84,17316800,10387436,50362,550,13.7%
28,Puducherry,Pondicherry,UT,1247953,0.10,612511,635442,1037,85.85,394341,850123,479,2598,27.7%
11,Odisha,Bhubaneshwar,State,41974218,3.47,21212136,20762082,979,72.87,34951234,6996124,155707,269,14.0%
25,Nagaland,Kohima,State,1978502,0.16,1024649,953853,931,79.55,1406861,573741,16579,119,−0.5%
29,Mizoram,Aizawl,State,1097206,0.09,555339,541867,976,91.33,529037,561997,21081,52,22.8%
23,Meghalaya,Shillong,State,2966889,0.25,1491832,1475057,989,74.43,2368971,595036,22429,132,27.8%
24,Manipur,Imphal,State,2721756,0.21,1290171,1280219,992,79.21,1899624,822132,22327,122,18.7%
2,Maharashtra,Mumbai,State,112374333,9.28,58243056,54131277,929,82.34,61545441,50827531,307713,365,16.0%
6,Madhya Pradesh,Bhopal,State,72626809,6.00,37612306,35014503,931,69.32,52537899,20059666,308245,236,20.3%
35,Lakshadweep,Kavaratti,UT,64473,0.01,33123,31350,946,91.85,14121,50308,32,2013,6.2%
12,Kerala,Thiruvananthapuram,State,33406061,2.76,16027412,17378649,1084,94.00,17445506,15932171,38863,859,4.9%
9,Karnataka,Bengaluru,State,61095297,5.05,30966657,30128640,973,75.36,37552529,23578175,191791,319,15.7%
13,Jharkhand,Ranchi,State,32988134,2.72,16930315,16057819,948,66.41,25036946,7929292,79714,414,22.3%
19,Jammu and Kashmir,Jammu(winter) Srinagar(summer),State,12541302,1.04,6640662,5900640,889,67.16,9134820,3414106,222236,56,23.7%
21,Himachal Pradesh,Shimla,State,6864602,0.57,3481873,3382729,972,82.80,6167805,688704,55673,123,12.8%
17,Haryana,Chandigarh,State,25351462,2.09,13494734,11856728,879,75.55,16531493,8821588,44212,573,19.9%
10,Gujarat,Gandhinagar,State,60439692,4.99,31491260,28948432,919,78.03,34670817,25712811,196024,308,19.2%
26,Goa,Panaji,State,1458545,0.12,739140,719405,973,88.70,551414,906309,3702,394,8.2%
18,Delhi,Delhi,UT,16787941,1.39,8887326,7800615,868,86.21,944727,12905780,1484,11297,21%
34,Daman and Diu,Daman,UT,243247,0.02,150301,92946,618,87.10,60331,182580,112,2169,53.5%
33,Dadra and Nagar Haveli,Silvassa,UT,343709,0.03,193760,149949,774,76.24,183024,159829,491,698,55.5%
16,Chhattisgarh,Raipur,State,25545198,2.11,12832895,12712303,991,70.28,19603658,5936538,135191,189,22.6%
30,Chandigarh,Chandigarh,UT,1055450,0.09,580663,474787,818,86.05,29004,1025682,114,9252,17.1%
3,Bihar,Patna,State,104099452,8.60,54278157,49821295,918,61.80,92075028,11729609,94163,1102,25.1%
14,Assam,Dispur,State,31205576,2.58,15939443,15266133,958,72.19,26780526,4388756,78438,397,16.9%
27,Arunachal Pradesh,Itanagar,State,1383727,0.11,713912,669815,938,65.38,1069165,313446,83743,17,25.9%
5,Andhra Pradesh[a],Hyderabad,State,84580777,6.99,42442146,42138631,993,67.02,56361702,28219075,275045,308,10.98%
32,Andaman and Nicobar Islands,Port Blair,UT,380581,0.03,202871,177710,876,86.63,244411,135533,8249,46,6.7%

In [ ]:
df.to_excel("Census-2011.xlsx")

In [28]:
df.groupby('Type')['Type'].count()

Type
State    28
UT        7
Name: Type, dtype: int64

In [29]:
df.Type.unique()

array(['State', 'UT'], dtype=object)

In [30]:
df.Type.nunique()

2

In [31]:
df.Type.unique

<bound method Series.unique of Rank
1     State
2     State
3     State
4     State
5     State
6     State
7     State
8     State
9     State
10    State
11    State
12    State
13    State
14    State
15    State
16    State
17    State
18       UT
19    State
20    State
21    State
22    State
23    State
24    State
25    State
26    State
27    State
28       UT
29    State
30       UT
31    State
32       UT
33       UT
34       UT
35       UT
Name: Type, dtype: object>

In [32]:
#choose specific table using match parameter
table2 = pd.read_html('https://en.wikipedia.org/wiki/2011_census_of_India',match='First, Second, and Third languages by number of speakers in India')

In [33]:
len(table2)

1

In [36]:
table2[0]

,Language,First languagespeakers[82],First languagespeakers as a percentage of total population,Second languagespeakers,Third languagespeakers,Total speakers [71][83],Total speakers as a percentage of total population
0,Hindi,528347193,43.63,139207180,24000000,692000000,57.10
1,English,259678,0.02,83125221,46000000,129000000,10.60
2,Bengali,97237669,8.3,9037222,1000000,107000000,8.90
3,Marathi,83026680,7.09,13000000,3000000,99000000,8.20
4,Telugu,81127740,6.93,12000000,1000000,95000000,7.80
5,Tamil,69026881,5.89,7000000,1000000,77000000,6.30
6,Gujarati,55492554,4.74,4000000,1000000,60000000,5.00
7,Urdu,50772631,4.34,11000000,1000000,63000000,5.20
8,Kannada,43706512,3.73,14000000,1000000,59000000,4.94
9,Odia,37521324,3.2,5000000,390000,43000000,3.56
10,Malayalam,34838819,2.97,500000,210000,36000000,2.90
11,Punjabi,33124726,2.83,2230000,720000,36600000,3.00
12,Sanskrit,24821,<0.01,1230000,1960000,3190000,0.19

# convert dataframe into html page

In [37]:
# Fastest 100 meters runners
fastest_100m = pd.DataFrame({
    'Rank': range(1, 6),
    'Runner': ['Usain Bolt', 'Tyson Gay', 'Yohan Blake', 'Asafa Powell', 'Justin Gatlin'],
    'Time': [9.58, 9.69, 9.69, 9.72, 9.74], # seconds
    'Country': ['Jamaica', 'USA', 'Jamaica', 'Jamaica', 'USA']
})
print(fastest_100m)
fastest_100m = fastest_100m.set_index('Rank')
fastest_100m

   Rank         Runner  Time  Country
0     1     Usain Bolt  9.58  Jamaica
1     2      Tyson Gay  9.69      USA
2     3    Yohan Blake  9.69  Jamaica
3     4   Asafa Powell  9.72  Jamaica
4     5  Justin Gatlin  9.74      USA

             Runner  Time  Country
Rank
1        Usain Bolt  9.58  Jamaica
2         Tyson Gay  9.69      USA
3       Yohan Blake  9.69  Jamaica
4      Asafa Powell  9.72  Jamaica
5     Justin Gatlin  9.74      USA

#### The DataFrame method to_html() will return the content formatted as HTML code. You can use this code to render the DataFrame on any web page.

In [38]:
# Convert DataFrame to an HTML table
fastest_100m.to_html("coding.html")

## Reading tables from a file

In [39]:
t1 = pd.read_html('htmlforpractic.html')

In [44]:
t1[0]

         Full Name           Position Salary
0       Bill Gates  Founder MIcrosoft  $1000
1       Steve Jobs      Founder Apple  $1200
2  Mark Zuckerberg   Founder Facebook  $1300

In [42]:
t2 = pd.DataFrame(t1[0])

In [43]:
t2

         Full Name           Position Salary
0       Bill Gates  Founder MIcrosoft  $1000
1       Steve Jobs      Founder Apple  $1200
2  Mark Zuckerberg   Founder Facebook  $1300